
$pubcolor=#8665FF

shadow()
    left: 0px;
    top: 0px;
    width: 200px;
    height: 1440px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 8px 0px 10px 0px rgba(86, 64, 247, 0.06);
